@import 'helpers/_animate';

html{
  overflow-y: scroll;
  font-family: 'Kavivanar', cursive;
}
body{
  background-image: url(/images/backdrop7.png);
  background-repeat: repeat-x;
  background-position: absolute;
  background-size: 1600px;
  display: relative;

}

.introduction{
  position: absolute;
  left: 755px;
  background-color: rgba(106,136,83,1);
;
  width:1000px;
  height: 800px;
  border-radius: 25%;
  box-shadow: 2px 3px 57px 11px rgba(71,49,41,0.89);
  z-index: 100;
  opacity: 0.9;
}

#insideText{
  background-color: rgba(0, 49, 35, 1);
  margin-top: 80px;

  margin-left: 82px;
  height: 600px;
  width: 800px;
  border-radius: 25%;
  opacity: 10;
  text-align: center;
  color: #cecece;
  font-size: 40px;
  padding: 20px;

.explore{
  width: 200px;
  height: 65px;
  font-size: 1em;
  font-family: 'Kavivanar', cursive;
  border-radius: 45%;
}
}
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  position:relative;
   z-index: 500;
}

.dude {
  position: absolute;
  display: inline;
  left: -40px;
  top: 465px;
  z-index: 1;

  #help{
    position:absolute;
    left:1800px;
    background-color: #cecece;
    border-radius: 30%;
    width: relative;
    padding: 30px;
    font-family: monospace;
    font-size: 25px;

  }
}
.guide{
  left: 1400px;
  height: 400px;
  position: absolute;
  z-index: 100;

}

.lvl2{
  left: 300px;
}

.dog {
  height: 100px;
  width: auto;
  position: absolute;
  margin-top: 350px;
  height: 300px;
  z-index: 500;
}

.closedChest{
  margin-top: 450px;
  margin-left: 100px;
  height: 150px;
}

.treasure{
  display: inline-block;
}

.key{
  display: none;
  height: 100px;
}



.wall{
  margin-top: 190px;
  height: 450px;
  left: 1000px;
  position:absolute;
}
  .Wall2{
  display:none;
  left: 1000px;
  }

  .Wall3{
     display:none;
     left:1630px;
  }
  .Wall4{
    left:1800px;
    display:none;
  }


.level2{
  position: absolute;
  display: inline-flex;
  justify-content: space-around;
  width: 1400px;
  z-index: 2;
  left: 600px;

    .colors{
      width: 100px;
      height: 100px;
      background-color: white;
      padding: 30px;
      border-radius: 50%;
      margin-top: 30px;
      border:6px dotted black;
      display:none;
      justify-content: space-around;
    }
}
.bttns{
  margin-left: 580px;
  display: inline-flex;
  position: absolute;

}
.clicker{
  width:100px;
  height:100px;
  border-radius: 30%;
  font-size: 30px;
  margin-left: 20px;
  display:none;
}

.insect{
  width: 450px;
  display:none;
}
