@import 'helpers/_animate';

html{
  overflow-y: scroll;
  font-family: 'Kavivanar', cursive;
}
body{
  background-image: url(/images/backdrop7.png);
  background-repeat: repeat-x;
  background-position: absolute;
  background-size: 1600px;
  display: relative;

}

h1 {
  text-align: center;
  font-size: 33px;
  margin-top: 50px;
}
.lvl2{
  left: 300px;
}

.dog {
  height: 100px;
  width: auto;
  position: absolute;
  margin-top: 450px;
  height: 300px;
}

.closedChest{
  margin-top: 570px;
  margin-left: 100px;
  height: 150px;
}

.treasure{
  display: inline-block;
}

.key{
  display: none;
  height: 100px;
}



.wall{
  margin-top: 290px;
  height: 450px;
  left: 1000px;
  position:absolute;
}
  .Wall2{
  display:none;
  left: 1000px;
  }

  .Wall3{
     display:none;
     left:1630px;
  }


.level2{
  position: absolute;
  display: inline-flex;
  justify-content: space-around;
  width: 1400px;
  z-index: 2;

    .colors{
      width: 100px;
      height: 100px;
      background-color: white;
      padding: 30px;
      border-radius: 50%;
      margin-top: 100px;
      margin-left: 80px;
      border:6px dotted black;
      display:none;
      justify-content: space-around;
    }
}
.bttns{
  margin-left: 580px;
  display: inline-flex;
  position: absolute;

}
button{
  width:100px;
  height:100px;
  border-radius: 30%;
  font-size: 30px;
  margin-left: 20px;
  display:none;


}

.insect{
  width: 450px;
  display:none;
}
